# Go build files
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go test & coverage
*.test
*.out

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Temporary files
tmp/
